/*****BASE*****/

body {
  font-family: 'Open Sans', sans-serif;
}


/*****GRID*****/

.full-width {
  width: 1400px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  margin: 0 auto;
}

.third-width {
  width: 400px;
  margin: 0 auto;
  float: left;
}


/*****HEADER*****/

header {
  height: 800px;
  background-image: url("../img/hero.jpg");
  background-color: black; /*Used if image is unavailable*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  box-sizing: border-box;
}

nav {
  height: 80px;
  margin: 0;
  text-align: right;
  padding-right: 50px;
  background: #4a637e;
  opacity: 0.85;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #dce6f5;
}

nav a:hover {
  color: #ffb091;
}

header h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 110px;
  margin: 325px 0 25px 50px;
  color: #dce6f5;
  font-weight: normal;
}

header span {
  color: #ffb091;
  font-weight: bold;
}

header h2 {
  font-size: 36px;
  color: #dce6f5;
  font-weight: normal;
  margin-left: 50px;
}



/*****ABOUT*****/

#about {
  height: 1050px;
  background: #ffb091;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  padding: 160px;
}

#about h3 {
  font-family: 'Philosopher', sans-serif;
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

#about img {
  width: 290px;
  border-style: solid;
  border-width: 5px;
  border-color: #dce6f5;
  margin: 50px;
}

#about p {
  font-size: 24px;
  color: black;
}

#about span {
  font-weight: bold;
}



/*****PORTFOLIO*****/

#portfolio {
  height: 850px;
  background: #dce6f5;
  margin: 0;
  box-sizing: border-box;
}





/*****FOOTER*****/

footer {
  height: 650px;
  background: #ffb091;
  margin: 0;
  box-sizing: border-box;
}



/*FIX THIS LATER*/
img {
  width: 200px;
}
